html {
  font-family: 'Inter', sans-serif;
  color: #342D33;
}

body {
  font-family: 'Inter', sans-serif;
  color: #342D33;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 0;
  margin-top: 75px;
  text-rendering: optimizeLegibility;
}


h1 {
    margin-top: 0;
    color: #342D33;
    font-family: "Inter",sans-serif;
}


p {
    margin-top: 0;
    font-family: "Inter",sans-serif;
}

a {
    color: #83558a;
    text-decoration: none;
}

.site-home .about p a {
    border-bottom: 1px solid;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.2em;
}

.site>section {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.site-home .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.0736em;
    position: relative;
}

.site-home .about .bio {
    max-width: 585px;
    padding-top: 1em;
}

.contact {
    padding-top: 1.728em;
    position: relative;
}

.contact a {
    border-bottom: 0;
    color: #342D33;
    font-size: 1.728em;
    margin-right: 1.2em;
    padding-bottom: 0;
}

.contact a:hover {
  color: black;
}
.contact .social-links {
    position: absolute;
    left: 0;
}

.fab{
    transition: transform .2s;
}

 .fab:hover{
    color: #342D33;
    transform: scale(1.5);
}


.zoom{
    transition: transform .2s;
    text-align: center;
    width: 20px;
    margin-left: 0;
}

 .zoom:hover{
    color: #342D33;
     transform: rotate(90deg) scale(2);

}

.site-home .about .picture {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    width: 10%;
    max-width:1%;
max-height:1%;
top: 25%;
padding-right: 20px;
}
